<!DOCTYPE html>
<html lang="en">
    <header>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>overall albums</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </header>
    <body>
        <a href=".."><u><< back</u></a>
        <div class="TopTen">
            <header><b><u>Top Albums</u></b></header>
            {% for album in top_albums %}
                <p>{{ loop.index }}. {{ album[2] }} by <a href="../artists/{{ album[1] }}">{{ album[0] }}</a>: {{ album[3][0] }} hours {{ album[3][1] }} minutes</p>
            {% endfor %}
        </div>
    </body>
</html>