<!DOCTYPE html>
<html lang="en">
    <header>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>overall</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </header>
    <body>
        <a href=".."><u><< back</u></a>
        <div class="TopTen">
            <header><b><u>Top Artists</u></b></header>
            {% for artist in top_artists %}
                <p>{{ loop.index }}. <a href="./{{ artist[1] }}">{{ artist[0] }}</a> : {{ artist[2][0] }} hours {{ artist[2][1] }} minutes</p>
            {% endfor %}
        </div>
    </body>
</html>
