<!DOCTYPE html>
<html lang="en">
    <header>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>overall albums</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </header>
    <body>
        <header>{{ month_name}} {{ year }}</header>
        <a href=".."><u><< back</u></a>
        <div class="TopTen">
            <header><b><u>Top Songs</u></b></header>
            {% for song in top_songs %}
                <p>{{ loop.index }}. {{ song[2] }} <u>by</u> <a href="../artists/{{ song[1] }}">{{ song[0] }}</a>: {{ song[3][0] }} hours {{ song[3][1] }} minutes</p>
            {% endfor %}
        </div>
    </body>
</html>