<!DOCTYPE html>
<html lang="en">
    <header>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link id="style" rel="stylesheet" href="{{ url_for('static', filename='style-redo.css') }}">
    </header>
    <body>
        <header style="position:absolute;">{{ month_name}} {{ year }}</header>

        <div class="ArtistHeaderContainer">
            <img src="{{ artist_info.icon_url }}">
            <h1>{{ artist_info.name }}</h1>
            <span id="hours">{{ total_time[0] }}</span> <b>hours</b> <span id="minutes">{{ total_time[1] }}</span> <b>minutes</b>
        </div>

        </div>
        <div class="SummaryContainer">
            <div class="SummaryBlock">
                <h2>Top Albums</h2>
                {% for album in top_albums %}
                    <p><img src="{{ album.cover_art_url }}">{{ loop.index }}. {{ album.title }} : {{ album.time[0] }} hours {{ album.time[1] }} minutes</p>
                {% endfor %}
            </div>

            <div class="SummaryBlock">
                <h2>Top Songs</h2>
                {% for song in top_songs %}
                    <p><img src="{{ song.cover_art_url }}">{{ loop.index }}. {{ song.title }} : {{ song.time[0] }} hours {{ song.time[1] }} minutes</p>
                {% endfor %}
            </div>
        </div>

    </body>
</html>