<!DOCTYPE html>
<html lang="en">
    <header>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link id="style" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="{{ url_for('static', filename='theme-changer.js') }}"></script>
        <title>Overview - All Time</title>
    </header>
    <body>
        <button class="change-theme-button" type="button" onclick="changeTheme()">Swap Theme</button>
        <div class="HeaderContainer">
            <h1>Music Stat Display Home</h1>
            {{ total_time[0] }} <b>hours</b> {{ total_time[1] }} <b>minutes</b><br>
            {{ artist_count }} <b>Artists</b><br>
            {{ album_count }} <b>Albums</b><br>
            {{ song_count }} <b>Songs</b><br>
            <a href="./month/{{ year }}/{{ month }}/"><u>Check this month's stats</u></a>
        </div>

        {% if display_name != None %}
            <div class="UserPfp"><a href="/settings/"><img src="{{ user_pfp_url }}"></a></div>
            <div class="UserName"><a href="/settings/">{{ display_name }}</a></div>
        {% endif %}


        <div class="SummaryContainer">
            <div class="SummaryBlock">
                <h2><a href="./artists/"><u>Top Artists</u></a></h2>
                {% for artist in top_artists %}
                    <p><img src="{{ artist.icon_url }}">{{ loop.index }}. <a href="./artists/{{ artist.id }}">{{ artist.name }}</a> : {{ artist.time[0] }} hours {{ artist.time[1] }} minutes</p>
                {% endfor %}
            </div>
            <div class="SummaryBlock">
                <h2><a href="./albums/"><u>Top Albums</u></a></h2>
                {% for album in top_albums %}
                    <p><img src="{{ album.cover_art_url }}">{{ loop.index }}. {{ album.title }} by <a href="./artists/{{ album.artist_id }}">{{ album.artist_name }}</a>: {{ album.time[0] }} hours {{ album.time[1] }} minutes</p>
                {% endfor %}
            </div>
        </div>

        <div class="SummaryContainer">
            <div class="SummaryBlock">
                <h2><a href="./songs/"><u>Top Songs</u></a></h2>
                {% for song in top_songs %}
                    <p><img src="{{ song.cover_art_url }}">{{ loop.index }}. {{ song.name }} <u>by</u> <a href="./artists/{{ song.artist_id }}">{{ song.artist_name }}</a>: {{ song.time[0] }} hours {{ song.time[1] }} minutes</p>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
